<style>
    .container {
        width: 30%;
        height: 20%;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
    }
    .msg {
        color: black;
        background-color: #48b948;
        margin-bottom: 20px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .msg_err {
        color: black;
        background-color: #ef301d;
        margin-bottom: 20px;
        padding-top: 10px;
        padding-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
</style>

{% block stylesheets %}
    <link rel="stylesheet" href="\node_modules\bootstrap\dist\css\bootstrap.css">
{% endblock %}
{% block javascripts %}
    <script src = "\node_modules\bootstrap\dist\js\bootstrap.js"></script>
    <script src = "\node_modules\jquery\dist\jquery.js"></script>
{% endblock %}