<!DOCTYPE html>
<html>
<head>
    {{ include('script_style_admin.html.twig') }}
    <title>SkillBox</title>
</head>
<body>

<h2>SkillBox</h2>

<form action="{{ url }}" method="POST" style="width: 50%; margin-left: 25%; margin-right: 25%">
    <h3 style="width: 50%; margin-left: 25%; margin-right: 25%">{{ message }}</h3><br>
    <input name="id" type="hidden" size="15" maxlength="15" value="{{ user.id.0 }}">
    <div class="mb-3">
        <p>
            <label class="form-label">Имя пользователя:<br></label>
            <input  class="form-control" name="first_name" type="text"  value="{{ user.first_name.0 }}">
        </p>
    </div>
    <div class="mb-3">
        <p>
            <label class="form-label">E-mail:<br></label>
            <input type="email" class="form-control" name="email" type="text"  value="{{ user.email.0 }}">
        </p>
    </div>
    <div class="mb-3">
        <p>
            <label class="form-label">Пароль:<br></label>
            <input  class="form-control" name="password" type="password" size="15" value="">
        </p>
    </div>
    <div class="mb-3">
        <p>
            <label class="form-label">Role:<br></label>
            <input class="form-control"  name="role" type="text" size="15" value="{{ user.role.0 }}">
        </p>
    </div>
    <div class="mb-3">
        <input name="method" type="hidden" value="PUT" />
        <p>
            <button type="submit" class="btn btn-primary" name="submit" value="Update">UPDATE</button>
        </p>
    </div>
</form>

</body>
</html>