<!DOCTYPE html>
<html>
<head>
    {{ include('script_style_admin.html.twig') }}
    <title>SkillBox</title>
</head>
<body>

<h2>SkillBox</h2>
{% if user == 0 %}
    <p>{{ message }}</p>
    <p class="lead">
        <a href="{{ url }}">Перейти в административный раздел</a>
    </p>
{% endif %}

<table class="table table-striped">
    {% if user != 0 %}
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">E-mail</th>
            <th scope="col">Role</th>
            <th scope="col">Date</th>
            <th scope="col">Change</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
    {% endif %}
    <tbody>
    {% for item in user %}
        <tr>
            <td>{{ item.id }}</td>
            <td><a href="{{ host }}/admin/user/{{ item.id }}">{{ item.first_name }}</a> </td>
            <td>{{ item.email }}</td>
            <td>{{ item.role }}</td>
            <td>{{ item.date_created }}</td>
            <td>
                <a href="{{ host }}/admin/user/{{ item.id }}?method=PUT">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil"
                         viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                    </svg>
                </a>
            </td>
            <td>
                <a href="{{ host }}/admin/user/{{ item.id }}?method=DELETE" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-x-lg"
                         viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                    </svg>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br><br>
<a href="{{ host }}/users/logout/">ВЫЙТИ</a>
</body>
</html>