{% block stylesheets %}
    <link rel="stylesheet" href="\node_modules\bootstrap\dist\css\bootstrap.css">
{% endblock %}
{% block javascripts %}
    <script src = "\node_modules\bootstrap\dist\js\bootstrap.js"></script>
    <script src = "\node_modules\jquery\dist\jquery.js"></script>
{% endblock %}