<!DOCTYPE html>
<html>
<head>
    {{ include('script_style.html.twig') }}
    <title>SkillBox</title>
</head>
<body>
<div style="width: 100%; margin-left: 5%; margin-right: 5%">
    <h2>SkillBox</h2>


    <h4>{{ massage }}</h4>
    <h4>{{ userJson }}</h4><br>

    <div>
        {{ user.id }}<br>
        {{ user.first_name }}<br>
        {{ user.email }}<br>
        {{ user.password }}<br>
        {{ user.role }}<br>
        {{ user.date_created }}
    </div>
</div>
</body>
</html>