<!DOCTYPE html>
<html>
<head>
    {{ include('script_style.html.twig') }}
    <title>SkillBox</title>
</head>
<body>
<div style="width: 50%; margin-left: 20%; margin-right: 20%">
    <h2>SkillBox</h2>

    {% for item in result %}
        <div>
            {{ item.id }}<br>
            {{ item.first_name }}<br>
            {{ item.email }}<br>
            {{ item.password }}<br>
            {{ item.role }}<br>
            {{ item.date_created }}<br>
            <span>______________________________</span>
            <br><br>
        </div>
    {% endfor %}
</div>
</body>
</html>