<!DOCTYPE html>
<html>
<head>
    {{include('script_style.html.twig') }}
    <title>SkillBox</title>
</head>
<body>

<h2>SkillBox</h2>
<h3>{{ message }}</h3><br><br>
<h5>{{ messageMail }}</h5>
    <div>

    </div>

</body>
</html>