<!DOCTYPE html>
<html lang="ru">
<head>
    {{ include('script_style.html.twig') }}
    <title>SkillBox</title>
</head>
<body>

<div style="width: 50%; margin-left: 20%; margin-right: 20%">
    <h2>SkillBox</h2>
    <h3>{{ message }}</h3>

    <div>
        {{ user.id }}<br>
        {{ user.email }}<br>
        {{ user.password }}
    </div>
</div>
</body>
</html>